* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(17, 17, 97);;
}

.logo {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0;
}

.nav__links li a:hover {
    color: blue;
}

button {
    padding: 9px 25px;
    background-color: rgb(219, 8, 124);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
}

button:hover {
    background-color: rgb(255, 0, 119);
}

li, a, button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
}

header {
    /* flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}