* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(17, 17, 97);;
}

li, a, button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
}

header {
    /* flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}